* {
    font: 1.2rem "Fira Sans", sans-serif;
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    }
    
body{
    display:flex;
    border:  solid 1px black;
    max-width: 1000px;
    margin:0 auto;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 0 auto;
    border : solid rgb(43, 226, 89) 1px;
    }
    
    .board-row row-0{
        display:flex;
        align-items: center;
        justify-content: center;
    width : 100vw;
    height: 100vh;
    background-color: rgb(238, 243, 247);
    border:solid salmon 1px ;
    }

.board-column{
    display:flex;
    flex-wrap: wrap;
    flex-direction: flex;
    width: 10vw;
    height:10vh;
    border :solid rgb(226, 242, 2) 1px;
    }